*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}
h1{
    font-size: 45px;
    color: #000;
}
h2{
    font-size: 40px;
    color: #000;
}

h4{
    font-size: 35px;
    color: #000;
}

p{
    font-size: 18px;
    color: #4a46469e;
}

.section-p1{
    padding: 40px 80px;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}
/*Container*/

.container{
    height: 100%;
}


/*Header and navbar*/

#mobile , #close-nav{
    display: none;
}

.container header{
    background-color: #e3e6f3;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.container header .nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
.container header .nav li{
    margin: 5px;
    display: inline;
}
.container header .nav li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.container header .nav li a:hover ,.container header .nav li .active {
    color: #0ee1a2bd;
}
.container header .nav li .active::after , .container header .nav li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
} 

/*Home page*/

.hero{
    background-image: url('images/hero4.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
}

.hero .text button{
    background-image: url('/images/button.png');
    color: #fff;
    padding: 15px 80px 15px 65px;
    font-size: 18px;
    border: none;
    margin: 10px 0;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.4s;
    background-repeat: no-repeat;
    font-weight: 700;
}
.hero h4{
    padding-bottom: 15px;
}

.hero h1{
    color: #0ee1a2bd;
}

.hero .text button:hover{
    color: aquamarine;
}

.hero .text{
    margin: 160px auto;
    width: 80%;
    left: 20%;
}


/*Feature Section*/

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    padding: 10px;
    margin: 15px 10px;
    width: 180px;
    background-color: #e3e6f3;
    text-align: center;
    transition: 0.3s;
}
#feature .fe-box h6{
    display: inline-block;
    color: #088178;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}
#feature .fe-box img{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}


#feature .fe-box:nth-child(2) h6{
    background-color: #9a787852;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #39a56852;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#feature .fe-box:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}



/*Product Section*/
#fe-pro{
    text-align: center;
}

#fe-pro .pro-container{
   width: 20%;
   min-width: 200px;
   padding: 10px 12px;
   border: 1px solid #088178;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
   margin: 15px 0;
   transition: 0.5s ease;
   position: relative;
   margin: 10px
}

.pro-container img{
  width: 100%;
  border-radius: 20px;  
}


#fe-pro .pro-container .des{
    text-align: start;
    padding: 10px 0;
}
#fe-pro .pro-container .des span{
    color: #606060;
    font-size: 12px;
}

#fe-pro .pro-container .des h5{
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 14px;
}
#fe-pro .pro-container .des .star li{
    color:rgb(233, 222, 18);
}

#fe-pro .pro-container .des h4{
    font-size: 14px;
    font-weight: 700;
    padding-top: 8px;
    color: #088178;
}
 
#fe-pro .pro-container a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cce7e5;
    color: #088178;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#fe-pro .pro-container:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}


#fe-pro  .productes-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


/*Banner*/
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url(/images/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h3{
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
}

#banner h2 span{
    color: red;
}

#banner button{
    margin-top: 20px;
}
#banner button:hover{
    background-color: #088178;
    color: #fff;
}

/* Summer Banner */

#summer-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}
#summer-banner .banner-box{
    background-image: url(/images/banner/b17.jpg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}


#summer-banner .banner-box h1{
    color: #fff;
    font-weight: 800;
    font-size: 28px;
}

#summer-banner .banner-box span{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;

}

#summer-banner .banner-box h4{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}



#summer-banner .banner-box s{
    color: #fff;
}



#summer-banner .banner-box button{
    padding: 12px 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

#summer-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#summer-banner .banner-box2{
    background-image: url(images/banner/b10.jpg);
}

/* banner 3*/



#banner3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}
#banner3 .banner-box{
    background-image: url(/images/banner/b7.jpg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: rgba(255, 0, 0, 0.932);
    font-weight: 800;
    font-size: 16px;
}

#banner3 .banner-box2{
    background-image: url(/images/banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(/images/banner/b18.jpg);
}


/* New Section*/

#news{
    margin: 80px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#news h4{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

#news p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#news p span {
    color: #ffbd27;
}

#news .form {
    display: flex;
    margin-top: 10px;
    width: 40%;
}

#news input{
    height: 3.125rem;
    padding: 0 1.125rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news button{
    color: #fff;
    background-color: #088178;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
}


/* Footer Section */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}
footer .col h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .logo{
    margin-bottom: 30px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
footer i{
    color: #456b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover , footer a:hover {
    color: #088178;
}
footer .cobyright{
    width: 100%;
    text-align: center;
}
/*Response Section */

/*Taplet*/
@media(max-width:800px){
    .section-p1 {
        padding: 40px 40px;
    }

    #nav-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #nav-bar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #nav-bar.active {
        right: 0px;
    }

    #nav-bar.active #close-nav{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }

    .hero {
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
        
    }

    #fe-pro  .productes-container {
        justify-content: center; 
    }

    #fe-pro .pro-container {
        width: 30%;
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #summer-banner {
  
        justify-content: center;
    }

    #summer-banner .banner-box {
        min-width: 100px;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28% ;
    }
   
    #news .form {
        width: 70%;
    }
}


@media(max-width: 475px){

    .section-p1 {
        padding: 20px 20px;
    }

    header{
        padding: 10px 30px;
    }
    
    .hero {
        height: 80vh;
        padding: 0 20px;
        background-position: 55%;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box {
        margin: 0 0 15px 0;
        width: 155px;
    }

    #fe-pro .pro-container {
        width: 100%;
    }


    #banner {
      height: 40vh;
    }
    #summer-banner .banner-box {
        height: 40vh;
    }
    #summer-banner .banner-box2{
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #news{
        padding: 40px 20px ;
    }
    #news .form {
        width: 100%;
    }


}